[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==5.4.1"
faker = "*"
"beautifulsoup4" = "*"
requests-toolbelt =  "*"
xmltodict = "*"
scapy = "2.4.5"
pycap = "*"
pytest = "*"
hello-world = {path = "./hello_world"}

[dev-packages]

[requires]
python_version = "3.8"
